
/*页脚样式*/
.footerBox{
	width: 1920px;
	height: 419px;
	background-color: #282828;
}
.foot_top{
	width: 1920px;
	height: 238px;
	overflow: hidden;
}
.foot_left,.foot_xian,.foot_right{
	float: left;
}
.foot_left{
	width: 640px;
	height: 160px;
	margin-top: 51px;
	margin-left: 360px;
}
.foot_title,.foot_txt{
	overflow: hidden;
}
.foot_title li{
	float: left;
	width: 67px;
	height: 20px;
	color: white;
	font-size: 16px;
	margin-right: 118px;
	margin-bottom: 30px;
}
.foot_title li:last-child,.foot_txt li:last-child{
	margin-right: 0;
}
.foot_txt li{
	float: left;
	width: 50px;
	height: 15px;
	color: white;
	font-size: 12px;
	margin-right: 135px;
	margin-top: 14px;
}
.foot_txt li a {
	color: white ;
}
.foot_right{
	overflow: hidden;
}
.gongzhonghao,.fuwurexian{
	float: left;
}
.gongzhonghao{
	width: 100px;
	height: 150px;
	margin-top: 51px;
	margin-left: 72px;
}
.fuwurexian{
	/* width: 187px; */
	height: 150px;
	/*background-color: #eee;*/
	margin-top: 51px;
	margin-left: 67px;
}
.gongzhonghao img{
	width: 100px;
	height: 98px;
}
.weixin{
	color: #DFDFDF;
	font-size: 12px;
	text-align: center;
	margin-top: 14px;
}
.fu1{
	font-size: 16px;
	color: #FFFFFF;
}
.phoneNumber{
	font-size: 24px;
	color: #FFFFFF;
	margin-top: 26px;
}
.work{
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 25px;
}
.emial{
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 5px;
}
.foot_buttomimg{
	/* width: 901px; */
	width: 1045px;
	height: 45px;
	margin: 22px auto 37px;
	/* background-color: #eee; */
}
.foot_buttomimg a{
	width: 115px;
	height: 45px;
	margin-right: 35px;
}
.foot_buttomimg a img {
	width: 100%;
}
.foot_buttomimg>img{
	width: 115px;
	height: 45px;
	margin-right: 35px;
}
.foot_buttomimg>img:last-child{
	margin-right: 0;
}


.foot_buttom p {
	text-align: center;
	font-size: 12px;
	line-height: 2em;
	color: #7E7E7F;
}
/*页脚样式*/


.XinShouZhiNan,
.BaoZhangJiHua,
.GongSiJieShao,
.PingTaiBaoDao,
.ChangJianWenTi,
.FengXianPingCe,
.YunYingBaoGao,
.HangYeReDian,
.FaLvFaGui{
	cursor: pointer;
}
