
/* 超时提示 */

#chaoshiTS {
    display: none;
    width: 300px;
    height: 100px;
    line-height: 100px;
    border-radius: 25px;
    background: #000;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;
}
.zheZhao{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10000;
    display: none;
}

/* 头部 */
.navBox {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.navBox:hover {
    background-color: white;
}

.lunbo_box {
    min-width: 1200px;
    height: 640px;
    background-color: #4C8EEC;
}
.default{
    display: none;
}

/*轮播图样式*/

/*累计样式*/
.leiji{
	background: #f9f9f9;
    min-width: 1200px;
    margin: 0 auto;
    box-shadow:0px 3px 6px rgba(153, 153, 153, 0.1);
}
.leiji_box {
    width: 1200px;
    height: 180px;
    background-color: white;
    margin: -52px auto 0;
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.leiji_box:after{
	content: "";
	display: block;
	clear: both;
}
.leiji_top {
    height: 54px;
    margin-top: 20px;
    overflow: hidden;
}

.div_box1,
.div_box2,
.div_box3,
.div_box4 {
    width: 300px;
    height: 54px;
    /*line-height: 54px;*/
    float: left;
    /*z-index: 66;*/
}

.div_box1 {
    /*background-color: palegoldenrod;*/
    overflow: hidden;
}

.baozhangimg,
.baozhangtxt {
    float: left;
}

.baozhangimg {
    width: 54px;
    height: 54px;
    margin-left: 47px;
}

.baozhangtxt {
    margin-left: 20px;
    width: 150px;
    font-family: MicrosoftYaHei;
}

.spantxt1 {
    margin-top: 5px;
    display: inline-block;
    font-size: 18px;
    color: #333333;
}

.spantxt2 {
    margin-top: 6px;
    font-size: 14px;
    color: #999999;
    display: inline-block;
}

.leijixian {
    width: 1145px;
    height: 1px;
    background: rgba(238, 238, 238, 1);
    margin: 26px auto 0;
}

.leiji_bottom ul {
    width: 1200px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: rgba(51, 51, 51, 1);
    overflow: hidden;
    margin-top: 35px;
}

.leiji_bottom ul li {
    float: left;
    width: 300px;
    text-align: center;
}
.runTable li i{
    float: right;
}
.runTable li:last-child{
    border: none;
}
/*累计样式*/

/*新手专享样式*/

.newer_box {
    /* width: 1920px; */
    min-width: 1200px;
    margin: 0 auto;
    height: 300px;
    background-color: #f9f9f9;
    padding-top: 20px;
}
.newer_box{
	content: "";
	display: block;
	clear: both;
}

/*.announce_box,*/
.announceMubanBox {
    width: 1200px;
    margin: 0 auto 20px;
    height: 20px;
}
.announceMubanBox img{
	float: left;
}
.announce_box{
	float: left;
	width: 900px;
	height: 20px;
	overflow: hidden;
}

.announce_txt {
    width: 300px;
    height: 20px;
    line-height: 23px;
    font-size: 14px;
    margin-top: -5px;
    display: inline-block;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666;
}

.see {
    color: #2395FF;
    font-size: 14px;
}

.newer_sharebox {
    width: 1200px;
    height: 200px;
    /*background-color: #eee;*/
    margin: 0 auto;
    /* margin-left: 350px; */
    overflow: hidden;
}



.sharebox1,
.sharebox2,
.sharebox3 {
    float: left;
}

.sharebox1 {
    width: 260px;
    height: 200px;
    /*background-color: palegoldenrod;*/
}

.sharebox2 {
    width: 590px;
    height: 200px;
    margin-left: 45px;
    background-color: white;
    box-shadow:0px 3px 6px rgba(153, 153, 153, 0.1);
}

.sharebox3 {
    width: 290px;
    height: 200px;
    margin-left: 15px;
    /*background-color: palegoldenrod;*/
    cursor: pointer;
}

.shareTitle {
    width: 185px;
    height: 35px;
    font-size: 36px;
    color: rgba(51, 51, 51, 1);
    line-height: 35px;
}

.shareTxt {
    /* width: 193px; */
    height: 17px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: rgba(102, 102, 102, 1);
    line-height: 17px;
    margin-top: 15px;
}

.lingqu {
    margin-top: 28px;
    width: 193px;
    height: 58px;
    background: url(../img/index/lingqu.png);
    cursor: pointer;
}

.lingqu span {
    width: 193px;
    height: 17px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: rgba(255, 255, 255, 1);
    line-height: 17px;
    text-align: center;
    display: inline-block;
    /*margin-left: -0px;*/
    margin-top: 17px;
}

.biao span {
    /*width:229px;*/
    height: 15px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(51, 51, 51, 1);
    line-height: 15px;
    margin-left: 5px;
}

.biao img {
    width: 14px;
    height: 14px;
}

.newerProjectName {
    width: 123px;
    height: 17px;
    margin-left: 30px;
    margin-top: 23px;
}

.s1 {
    color: #333333;
    font-size: 16px;
}

.s2 {
    color: #666666;
    font-size: 14px;
}

.newerProject {
    overflow: hidden;
    margin-top: 41px;
}

.lixi,
.qixian,
.join {
    float: left;
}

.lixi {
    width: 126px;
    height: 72px;
    /*background-color: palegoldenrod;*/
    margin-left: 37px;
    color: #FFA303;
}

.qixian {
    width: 57px;
    height: 72px;
    /*background-color: palegoldenrod;*/
    margin-left: 103px;
}

.join {
    width: 120px;
    height: 72px;
    /*background-color: palegoldenrod;*/
    margin-left: 80px;
    cursor: pointer;
}

.lixi .span1 {
    color: #FFA303;
    font-size: 42px;
}

.lixi .span2 {
    color: #FFA303;
    font-size: 16px;
}

.lixi p {
    color: #666666;
    font-size: 14px;
}

.qixian .s1 {
    color: #333333;
    font-size: 30px;
}

.qixian .s2 {
    color: #333333;
    font-size: 16px;
}

.qixian p {
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
}

.join_Btn {
    width: 120px;
    height: 41px;
    background: url(../img/index/joinBtn.png);
    margin-top: 20px;
    ;
}

.join_Btn p {
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 41px;
}

.sharebox3 {
    width: 290px;
    height: 200px;
}

/*新手专享样式*/

/*平台优选样式*/

.ptyxBox {
    /* width: 1920px; */
    min-width: 1200px;
    height: 592px;
    background-color: #4E99ED;
    text-align: center;
}
.ptyxTitle{
    width: 250px;
    margin: 0 auto;
}
.ptyxTitle:after{
    content: "";
    display: block;
    clear: both;
}
.ptyxTitle ul {
    overflow: hidden;
    color: white;
    font-size: 30px;
}

.ptyxTitle ul li {
    float: left;
    margin-top: 59px;
}

.ptyxTitle .li2 {
    margin-left: 13px;
    margin-right: 13px;
}

.ptyxTitle p {  
    font-size: 14px;
    color: white;
    margin-top: 6px;
    text-align: center;
    margin-left: -42px;
}

.yxProjectBox {
    width: 1200px;
    height: 350px;
    /*background-color: wheat;*/
    margin: 55px auto 69px;
}

.yxProjectBox ul {
    overflow: hidden;
}

.yxProjectBox ul li {
    width: 288px;
    height: 349px;
    background-color: white;
    float: left;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(153, 153, 153, 0.1);
}
.yxProjectBox ul li:hover {
    background: #e9e9e9;
}

.yxProjectBox ul li:last-child {
    margin-right: 0px;
}

.qh1 {
    position: relative;
}

.qh1 .title {
    width: 180px;
    margin: 0 auto;
    color: #333333;
    font-size: 24px;
    margin-top: 31px;
    /*position: relative;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.circlechart {
    width: 150px;
    height: 150px;
    /*background-color: #DDDDDD;*/
    margin: 0 auto;
    margin-top: 29px;
    text-align: center;
}

.success-stroke {
    stroke: #63ACFF;
}

.btn {
    width: 160px;
    height: 40px;
    line-height: 2em;
    border-radius: 25px;
    border: 1px solid #2395FF;
    margin: -20px auto 26px;
    font-size: 18px;
    color: #2395FF;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background: #2395FF;
    color: #fff;
}

.btn1 {
    width: 160px;
    height: 40px;
    background: url(../img/index/btn1.png);
    margin: -20px auto 26px;
    font-size: 18px;
    color: #999999;
    line-height: 40px;
    text-align: center;
}

.huankuan {
    position: absolute;
    top: 116px;
    left: 51px;
}

.circle-chart__percent {
    display: none;
}

.lilv {
    position: relative;
    top: -120px;
    left: 0px;
    /* color: #FFA303; */
}

.hot {
    position: absolute;
    top: 0;
    right: 0;
}

.sp01 {
    color: #FFA303;
    font-size: 32px;
    margin-left: 10px;;
}

.sp02 {
    color: #666;
    font-size: 14px;
}

.history {
    position: absolute;
    top: 168px;
    left: 90px;
    color: #999999;
    font-size: 12px;
}

.qixian01 {
    font-size: 14px;
    color: #999999;
    position: absolute;
    top: 190px;
    left: 100px;
}

.month {
    font-size: 14px;
    color: #333333;
    position: absolute;
    top: 190px;
    left: 140px;
}

/*平台优选样式*/

/*新闻资讯样式*/

.newsBox {
    /* width: 1920px; */
    min-width: 1200px;
    height: 488px;
    overflow: hidden;
    font-size: 30px;
    color: #333333;
}

.newsTitle ul {
    overflow: hidden;
}

.newsTitle ul li {
    float: left;
}

.newsTitle {
    width: 200px;
    height: 31px;
    margin: 53px auto 51px;
    text-align: center;
    line-height: 31px;
}

.news1 {
    width: 24px;
    height: 4px;
    background: rgba(102, 102, 102, 1);
    border-radius: 2px;
    border: 2px solid #666666;
    margin-top: 15px;
    margin-right: 13px;
}

.news2 {
    width: 24px;
    height: 4px;
    background: rgba(102, 102, 102, 1);
    border-radius: 2px;
    border: 2px solid #666666;
    margin-top: 15px;
    margin-left: 13px;
}

.newsContent {
    width: 1200px;
    height: 268px;
    margin: 0 auto;
    /*background-color: wheat;*/
    overflow: hidden;
}

.content1,
.content2 {
    float: left;
}

.content1 {
    width: 588px;
    height: 268px;
    border: 1px solid #EEEEEE;
    margin-right: 24px;
}

.content2 {
    width: 588px;
    height: 268px;
    border: 1px solid #EEEEEE;
}

.ptxw ul {
    width: 588px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    /*background-color: #eee;*/
    margin-top: 23px;
}

.ptxw ul li {
    float: left;
}

.ptxw ul li img {
    width: 4px;
    height: 30px;
}

.ptnews {
    font-size: 20px;
    color: #666666;
    margin-left: 20px;
    display: block;
}

.ptmore {
    font-size: 14px;
    margin-left: 418px;
    display: block;
    margin-top: 0px;
}
.ptmore a{
    color: #2395FF;
}

.fenge {
    width: 547px;
    height: 1px;
    background: rgba(238, 238, 238, 1);
    margin: 15px auto 20px;
}

.newsdetaiBox {
    width: 545px;
    height: 160px;
    margin: 21px auto;
    overflow: hidden;
}

.newsimg,
.newstext {
    float: left;
}

.newsimg {
    width: 220px;
    height: 160px;
    background-color: #FFC248;
    margin-right: 21px;
}
.newsimg img{
    width: 100%;
    height: 100%;
}
.newstext {
    width: 304px;
}

.newstext_title b {
    display: inline-block;
    width: 200px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    
}

.newstext_more {
    float: right;
    font-size: 14px;
    margin-top: 12px;
    color: #2395FF;    
}
.newstext_more a{
    color: #2395FF;
}

.hotContentBox>ul>li {
    width: 546px;
    line-height: 15px;
    margin-left: 15px;
    /* margin-top: -15px; */
}
.hotContentBox ul li {
    margin-bottom: 25px;
}

.hotContentBox ul li p span {
    display: inline-block;
    margin-top: 3px;
    height: 18px;
    height: 15px;
    vertical-align: center;
}
#circle{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2B97FF;
    margin-top: 8px;
    margin-right: 5px;
}

.hottxt {
    width: 330px;
    font-size: 14px;
    color: #666;
    vertical-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.data {
    font-size: 14px;
    color: #999;
    vertical-align: center;
    margin-left: 105px;
}
.hottxt:hover {
    color: #2395FF
}

/*新闻资讯样式*/

/*合作活伴布局*/

.companyBox {
    /* width: 1920px; */
    min-width: 1200px;
    height: 373px;
    background-color: #f9f9f9;
    overflow: hidden;
    font-size: 30px;
    color: #333333;
}

.companyimg_box {
    width: 1200px;
    height: 90px;
    /*background-color: #00ACC1;*/
    margin: 21px auto 20px;
}

.companyimg_box ul {
    overflow: hidden;
}

.companyimg_box ul li {
    float: left;
    width: 183px;
    height: 90px;
    /*background-color: wheat;*/
    margin-right: 18px;
    margin-bottom: 20px;
}

.companyimg_box ul li:last-child {
    margin-right: 0px;
}

/*合作活伴布局*/

/* 返回头部 */
#goTop {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 250px;
    bottom: 80px;
    z-index: 2;
    cursor: pointer;
}

#goTop img {
    width: 100%;
}

.goTopImg1 {
    display: block;
}

.goTopImg2 {
    display: none;
}

/*轮播图样式*/
 .swiper-container {
      width: 100%;
      height: 100%;

    }
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
/*轮播图样式*/
#newerProductName{
	width: 200px !important;
	display: block;
	margin-left: 70px;
	margin-top: -20px;
}
.qixian{
	width: 70px !important;
}
