/* 内容 */
.container{
	min-width: 1200px;
	margin: 0 auto;
	border-top: 1px solid #eee;
}
.content_box{
	width: 1200px;
	height: 1150px;
	margin: 0px auto; 
	background-color: white;
	overflow: hidden;
}
.title{
	color: #333;
	font-size: 18px;
	text-align: center;
	margin-top:62px;
	font-weight: bold;
}
.text{
	width: 940px;
	margin : 30px auto;
	text-align: left;
	color: #666666;
	font-size: 14px;
	line-height: 26px;
}
.text b {
	font-weight: bold;
}
.text span {
    font-size: 15px;
    color: #000;
	font-weight: bold;
}