/* 超时提示 */

#chaoshiTS {
    display: none;
    width: 300px;
    height: 100px;
    line-height: 100px;
    border-radius: 25px;
    background: #000;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 200px;
    left: 810px;
}

/* 中间部分 */
.main{
    min-width:  1200px;
    margin: 0 auto;
    background: #F6F6F6;
    height: auto;
    padding-top: 23px;
    padding-bottom: 20px;
}
.main:after{
    content: "";
    display: block;
    clear: both;
}
.detailMain{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    height: auto;
    padding-top: 28px;
}
.newsMain{
    width: 1080px;
    margin: 0 auto;
    padding-bottom: 20px;
}
/*面包屑*/
.Crumbs {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #333;
}

.Crumbs a {
    color: #333;
}

.Crumbs span {
    color: #2773FF;
}

/* 内容 */
.msgTitle {
    width: 998px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.msgTitle h1 {
    text-align: center;
    font-size: 18px;
    color: #797979;
    font-weight: normal;
    margin: 10px auto 12px;
}

.msg{
    width: 998px;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.msgLittle span{
    margin-right: 20px;
    font-size: 14px;
    color: #999;
}

.imAbstract{
    width: 998px;
    margin: 45px auto 0;
    font-size: 14px;
    color: #797979;
    line-height: 2em;
    text-indent: 2em;
}


.imText {
    width: 998px;
    margin: 20px auto;
    font-size: 14px;
    color: #666;
    line-height: 2em;
}

.imImg{
    width: 80%;
    margin: 20px auto;
}
.imImg img{
    width: 100%;
}
